@charset "utf-8";
@import "layout.css";
/* main start  */
#main {
  /* background:url("../image/mainimgmain.png") no-repeat; */
  background-color: tomato;
  height: 834px;
  width: 100%;
  position: relative;
}
#main #mainfont {
  background-color: teal;
  width: 769px;
  height: 507px;
  position: absolute; top:112px;
  /* background: url("../image/whale.png") no-repeat; */
}











/* ticket start */
#ticket {
  background-color: teal;
  height: 834px;
  width: 100%;
}
/* promotion start  */
#promotion {
  background-color: gold;
  height: 834px;
  width: 100%;
}
/* program start  */
#program {
  background-color: gray;
  height: 834px;
  width: 100%;
}
/* story start  */
#story {
  background-color: green;
  height: 834px;
  width: 100%;
}