@charset "utf-8";
@import "layout.css";
.container {
  margin: auto;
  width: 1600px;
}
#tp {
  background-color: rgb(255,255,255);
  height: 45px;
  width: 100%;
}
header {
  background-color: rgb(0, 0, 0, 0);
  position: absolute;
  height: 160px;
  width: 100%;
  border-bottom: 1px solid rgb(103,103,104);
}
#topmenu_left li {
  float: left;
  margin-left: 30px;
}
#topmenu_left li:first-child {
  margin-left: 87px;
}
#topmenu_right li {
  float: right;
  margin-right: 30px;
}
#topmenu_right li:first-child {
  margin-right: 57px;
}
#tp a {
  font:12px/45px 'NotoSansKR-Regular';
}
#headgnb {
  margin-left: 153px;
}
header> h1 a {
  background:url("../image/logo.png") no-repeat;
  display: block;
  width: 168px; height: 91px;
  text-indent: -10000px;
  margin-left: 87px;
  margin-top: 13px;
}
header> #gnb {
  position: relative; left: 335px; top:-50px;
}
header> #gnb>ul>li{
  float: left;
  position: relative; 
  margin: 0px 24px;
  height: 60px;
  padding: 0px 30px;
}
header #gnb ul>li>a {
  display: block; 
  font:18px/27px 'NotoSansKR-Regular';
  color: white;
}
/* sub  */
header #gnb ul>li > .sub {
  display: none;
  position: absolute;
  top:60px; right: 0px;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  height: 304px;
}
header #gnb ul li .sub>li {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

header #gnb ul li .sub > li > a {
  font: 14px/14px 'NotosansKR-Light';
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border-bottom: 1px solid transparent;
}
header #gnb ul li:hover .sub  {
  display: block;
}
header #gnb ul li .sub > li:hover a {
  border-bottom: 1px solid rgb(255, 255, 255);
  display: inline-block;
}
#contents {
  background-color: bisque;
  height: 3250px;
}

/* main */

#mainVisual {
  width: 100%; height: 552px;
  background:url(../image/sub/main.png) no-repeat;
}
#mainVisual > h1 {
  padding-top: 400px;
}
#menuNav ul {
  position: absolute; right:50%; top: 45%;}

#contents #akuarium #box1 {
  height: 484px;
  background-color: brown;
}

#contents #akuarium #box2 {
  height: 547px;
  background-image: url("../image/sub/banner.png");
}
#contents #akuarium #box3 {
  height: 702px;
  background-color: cadetblue;
}
#contents #akuarium #box4 {
  height: 690px;
  background-color: darkgrey;
}
#contents #akuarium #box5 {
  height: 659px;
  background-color: indianred;
}





















