@charset "utf-8";
.container {
  margin: 0 auto;
  width: 1600px;
}
#tp {
  background-color: rgb(255,255,255);
  height: 45px;
  width: 100%;
}
header {
  background-color: rgb(0, 0, 0, 0);
  position: absolute; top:0; left: 0;
  height: 160px;
  width: 100%;
  border-bottom: 1px solid rgba(230,230,230,0.4);
}
#topmenu_left li {
  float: left;
  margin-left: 30px;
}
#topmenu_left li:first-child {
  margin-left: 87px;
}
#topmenu_right li {
  float: right;
  margin-right: 30px;
}
#topmenu_right li:first-child {
  margin-right: 57px;
}
#tp a {
  font:12px/45px 'NotoSansKR-Regular';
}

header> h1 a {
  background:url("../image/logo.png") no-repeat;
  display: block;
  width: 168px; height: 91px;
  text-indent: -10000px;
  margin-left: 87px;
  margin-top: 13px;
}
header> #gnb>ul {
margin-left: 335px; margin-top:-50px; 
}
header> #gnb>ul>li{
  float: left;
  position: relative; 
  margin: 0px 24px;
  height: 60px;
  padding: 0px 30px;
}
header #gnb ul>li>a {
  display: block; 
  font:18px/27px 'NotoSansKR-Regular';
  color: white;
}
/* sub  */
header #gnb ul>li > .sub {
  display: none;
  position: absolute;
  top:60px; right: 0px;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  height: 304px;
}
header #gnb ul li .sub>li {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

header #gnb ul li .sub > li > a {
  font: 14px/14px 'NotosansKR-Light';
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border-bottom: 1px solid transparent;
}
header #gnb ul li:hover .sub  {
  display: block;
}
header #gnb ul li .sub > li:hover a {
  border-bottom: 1px solid rgb(255, 255, 255);
  display: inline-block;
}
#contents {
  width: 100%;
  height: 3250px;
}

/* main */

#mainVisual {
  width: 100%; height: 552px;
  background: url('../image/sub/main.png');
}
#mainVisual > h1 {
  position: relative; top:276px; 
  color: white;
  font:45px/67px 'NotoSansKR-Light';
  border-bottom: 1px solid white;
  width: 305px;
}
#menuNav ul {
  position: absolute; top:482px;
  margin-left: 134px;
}
#menuNav ul li {
  background-color: rgba(0,0,0,0.4);
  width: 332px; height: 70px; 
  margin-right: 2px;
  float: left;
}
#menuNav ul li:first-child {
  background-color: rgba(255,255,255);
}
#menuNav ul li:nth-child(2) a,
#menuNav ul li:nth-child(3) a,
#menuNav ul li:nth-child(4) a
{
  color: white;
}
#menuNav ul li a {
  display: block;
  width: 332px; height: 70px; 
  text-align: center;
  font:21px/70px 'NotoSansKR-Regular'; color: rgb(0,0,0);
}
#contents #akuarium #box1 {
  height: 484px;
  background-color: white;
  overflow: hidden;
}
#contents #akuarium #box1 #akuadesc {
  width:591px; 
  height:268px;
  float: left;
  /* background-color: chartreuse; */
  margin-left: 145px;
  margin-top: 104px;
}
#contents #akuarium #box1 #akuadesc h1 {
  font: 45px/61px 'NotoSansKR-Medium';
  color: rgb(0,0,0);
  margin-bottom: 38px;
}
#contents #akuarium #box1 #akuadesc p {
  font:16px/25px 'NotoSansCJKkr-DemiLight';
  color: rgb(54, 54, 54);
}
#contents #akuarium #box1 #akuaicon {
  /* background-color: chocolate; */
  width: 691px;
  height: 177px;
  margin-top: 201px;
  margin-left: 833px;
} 
#contents #akuarium #box1 #akuaicon #icon1 {
  float: left;
}
#contents #akuarium #box1 #akuaicon #icon2 {
  float: left;
}
#contents #akuarium #box1 #akuaicon #icon3 {
  float: left;
}
#contents #akuarium #box1 #akuaicon .akuicon {
  width:230px;
  height:177px;
}
#contents #akuarium #box1 #akuaicon .akuicon img {
padding-left: 65px;
margin-bottom: 16px;
}
#contents #akuarium #box1 #akuaicon .akuicon h3 {
  text-align: center;
  font: bold 30px/35px 'NotoSansKR-Medium';
  color: rgb(0,167,207);
}
#contents #akuarium #box1 #akuaicon .akuicon p {
  text-align: center;
  font:14px/25px 'NotoSansKR-Regular';
  color: rgb(87,87,87);
}
#contents #akuarium #box1 #akuanav {
  display: inline;
  float: right;
  margin-top: 121px;
  margin-right: 141px;
}
#contents #akuarium #box2 {
  height: 547px;
  background: url("../image/sub/banner.png") no-repeat;
  box-sizing: border-box;
  padding-top: 170px;
}
#contents #akuarium #box2 p {
  color: white;
  font:16px/22px 'NotoSansKR-Light';
  text-align: center;
}
#contents #akuarium #box2 p:first-child {
  color: white;
  font:24px/45px 'NotoSansKR-Light';
}
#contents #akuarium #box2 h2 {
  color: white;
  font: 48px/62px 'NotoSansKR-Regular';
  text-align: center;
  margin-bottom: 16px;
}

#contents >#akuarium>.colorbox h2 {
  font:26px/40px 'NotoSansKR-Medium';
  color: rgb(255,255,255);
}
#contents >#akuarium>.colorbox p {
  font:14px/20px 'NotoSansKR-Light';
  color: rgb(255,255,255);
}
#contents #akuarium #box3 {
  /* background-color: palegreen; */
  height: 702px;
  overflow: hidden;
  position: relative;
}
#contents #akuarium #box3> div>img {
  position: absolute;
  top: 150px;
  left: 135px;
}
#contents #akuarium #box3 #pinkbox {
  width: 1150px;
  height: 423px;
  margin-right: 135px;
  position: absolute; bottom:0px; right:-45px;
  box-sizing: border-box;
  background: url('../image/sub/pinkbox.png') no-repeat;
} 
#contents #akuarium #box3 #pinkbox>p
{
  text-align: right;
  margin-right: 85px;
  margin-top: 30px;
}
#contents #akuarium #box3 #pinkbox>h2
{
  text-align: right;
  padding-right: 74px;
  padding-top: 40px;
}
#contents #akuarium #box4 {
  /* background-color: thistle; */
  height: 690px;
  position: relative;
  padding: 0px 135px;
}
#contents #akuarium #box4> div>img {
  position: absolute; top: 108px; right: 135px;
}
#contents #akuarium #box4 #bluebox {
  width: 1150px;
  height: 423px;
  box-sizing: border-box;
  background: url('../image/sub/bluebox.png') no-repeat;
  position: absolute; bottom: 0;
} 
#contents #akuarium #box4 #bluebox>p {
  margin-left: 40px;
  margin-top: 25px;
}
#contents #akuarium #box4 #bluebox>h2 {
  padding-left: 40px;
  padding-top: 34px;
}
#contents #akuarium #box5 {
  /* background-color: teal; */
  padding: 0px 135px;
  height: 659px;
  position: relative;
}
#contents #akuarium #box5> div>img {
  position: absolute; top:108px;
}
#contents #akuarium #box5 #skybox {
  width: 1150px;
  height: 423px;
  margin-right: 135px;
  position: absolute; top:236px; right:-45px;
  box-sizing: border-box;
  background: url('../image/sub/skybox.png') no-repeat;
} 
  #contents #akuarium #box5 #skybox>p {
  text-align: right;
  margin-right: 85px;
  margin-top: 30px;
}
  #contents #akuarium #box5 #skybox>h2 {
  text-align: right;
  padding-right: 74px;
  padding-top: 43px;
}


/* footer start  */
footer {
  background-color: rgb(24,24,24);
  height: 260px;
}
footer a, footer address, footer li, footer span {
  font: 11px/22px 'NotoSansKR-Light';
  color: rgb(255,255,255);
}
footer #footbox {
  overflow: hidden;
}
footer #footbox> #fbox_left {
  float: left;
  margin-top: 63px;
  width: 608px; height: 154px;
  box-sizing: border-box;
}
footer #footbox> #fbox_left > ul > li{
  float: left;
  margin: 0 9px;
}
footer #footbox> #fbox_left > ul >li:first-child {
  margin-left: 23px;
}
footer #footbox> #fbox_left address {
  margin-left: 23px;
  clear: both;
}
footer #footbox> #fbox_left #fboxbottom {
  margin-top: 19px;
  display: flex;
}
footer #footbox> #fbox_left #fboxbottom p img {
  margin-left: 28px;
}
footer #footbox> #fbox_left #fboxbottom ul {
  margin-left: 18px;
}
footer #footbox> #fbox_right {
  float: right;
  width: 319px; height: 134px;
  margin-top: 86px;
}
footer #footbox> #fbox_right #fboxicon {
  float: right;
  margin-bottom: 33px;
} 



